body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

::placeholder {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login {
    background: linear-gradient(#003049, #d62828);
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
}

.login__container {
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--remember-me {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
}

.login__container--social-media > div > img{
    width: 30px;
    margin-right: 10px;
}

.login__container--register a {
    font-weight: bold;
}

.input {
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid white;
    padding: 0 20px;
    height: 50px;
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
    outline: none;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.footer {
    background-color: #d62828;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 8px; 
    height: 8px;   
    background:rgba(255,255,255,.4);
    border-radius: 4px;
}

::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar:hover:active {
    background: #999;
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }

    .footer{
        align-items: flex-start;
        flex-direction: column;
        padding-left: 30px;
    }
}